.register {
  width: 500px;
  background: darkcyan;
  border: 1px solid #ffff;
  box-shadow: 0 2px rgb(0 0 / 10%), 0 8px 16 px rgb(0 0 0/10%);
  padding: 1rem;
  align-items: center;
  text-align: center;
  color: brown;
}
.register > input {
  border-radius: 8px;
  border: 2px solid #dddfe2;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 92%;
  font-size: 1rem;
}
.register > .button {
  background: #fff;
  border: 1px solid gray;
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}
