.login {
    width: 450px;
    background:darkcyan;
    border: 1px solid #FFFF;
    padding: 1rem;
    align-items: center;
    text-align: center;
    color:brown;
  }
  .login > input {
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
  }
  .login > .button {
    background:#FFF;
    border: 1px solid gray;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
  }
  