.App{
    display: flex;
    width:auto;
    height:auto;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cadetblue;
    flex-direction: column;
    padding: 20px;
    color:darkolivegreen;
}
