.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: thistle;
  flex-direction: column;
  color:white;
  height: 640px;

}
.newclass {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.align {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: 20px;
  font-weight: 200px;
  background-color:brown;
  font-family: 'Courier New', Courier, monospace;

}
a {
  color:white;
  text-decoration: none;
  outline-style: none;
}
