.App {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: thistle;
  flex-direction: column;
  padding: 20px;
  color: darkolivegreen;
  height: 520px;
}
.newclass {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}
.align {
  float: right;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  width: 50%;
  font-size: 20px;
  font-weight: 200px;
}
a {
  color: blue;
  text-decoration: none;
  outline-style: none;
}
